<body data-sidebar="dark">
    <!-- Begin page -->
    <div id="layout-wrapper">
        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">

            <div class="page-content">
                <div class="container-fluid">

                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box d-flex align-items-center justify-content-between">
                                <h4 class="mb-0">Orders</h4>

                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="javascript: void(0);">Ecommerce</a></li>
                                        <li class="breadcrumb-item active">Orders</li>
                                    </ol>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- end page title -->

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card pt-4">
                                <div class="card-body pt-0">
                                    <div class="table-responsive">
                                        <table class="table table-centered datatable dt-responsive nowrap "
                                            style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                            <thead class="thead-light text-center">
                                                <tr>
                                                    <th>Order ID</th>
                                                    <th>Order date</th>
                                                    <th>Delivery address</th>
                                                    <th>Cost</th>
                                                    <th>Delivery Status</th>
                                                    <th style="width: 180px;">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody class="text-center">
                                                {{#each orders}}
                                                <tr>
                                                    <td><a class="text-primary"
                                                            href="/orders/orders-detail?order_id={{order_id}}"
                                                            class="text-dark font-weight-bold">#{{order_id}}</a> </td>
                                                    <td> {{order_date}} </td>
                                                    <td> {{customer_address}}</td>

                                                    <td class="font-weight-bold text-dark"> {{final_cost}} đ</td>
                                                    <td>
                                                        <div class="badge 
                                                        {{#switch delivery_status}}
                                                            {{#case 'Packed'}} badge-soft-warning {{/case}}
                                                            {{#case 'In transit'}} badge-soft-primary {{/case}}
                                                            {{#case 'Chargeback'}} badge-soft-danger {{/case}}
                                                            {{#case 'Delivered'}} badge-soft-success {{/case}}
                                                        {{/switch}}
                                                        font-size-12">
                                                            {{delivery_status}}</div>
                                                    </td>

                                                    <td>
                                                        <a href="" class="mr-3 text-primary" data-toggle="modal"
                                                            data-target="#updateConfirm" data-placement="top"
                                                            data-original-title="Edit" data-id="{{order_id}}"><i
                                                                class="mdi mdi-pencil font-size-18"></i></a>
                                                        <a href="" class="text-danger" data-toggle="modal"
                                                            data-target="#deleteConfirm" data-placement="top"
                                                            data-original-title="Delete"><i
                                                                class="mdi mdi-trash-can font-size-18"></i></a>
                                                    </td>
                                                </tr>
                                                {{/each}}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="row pr-5 pl-5 pb-4">
                                    <div class="col-sm-12">
                                        <p class="mb-sm-0 mt-2">Page <span class="font-weight-bold">{{page}}</span>
                                            of <span class="font-weight-bold">{{lastPage}}</span></p>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="float-sm-right">
                                            <ul class="pagination pagination-rounded mb-sm-0">
                                                {{#if isPreValid}}
                                                <li class="page-item">
                                                    <a href="{{path}}1" class="page-link"><i
                                                            class="mdi mdi-chevron-double-left"></i></a>
                                                </li>
                                                <li class="page-item">
                                                    <a href="{{path}}{{prePage}}" class="page-link"><i
                                                            class="mdi mdi-chevron-left"></i></a>
                                                </li>
                                                {{else}}
                                                <li class="page-item disabled">
                                                    <a href="{{path}}1" class="page-link"><i
                                                            class="mdi mdi-chevron-double-left"></i></a>
                                                </li>
                                                <li class="page-item disabled">
                                                    <a href="{{path}}{{prePage}}" class="page-link"><i
                                                            class="mdi mdi-chevron-left"></i></a>
                                                </li>
                                                {{/if}}

                                                <li class="page-item active">
                                                    <a href="#" class="page-link">{{page}}</a>
                                                </li>

                                                {{#if isNextValid}}
                                                <li class="page-item">
                                                    <a href="{{path}}{{nextPage}}" class="page-link"><i
                                                            class="mdi mdi-chevron-right"></i></a>
                                                </li>
                                                <li class="page-item">
                                                    <a href="{{path}}{{lastPage}}" class="page-link"><i
                                                            class="mdi mdi-chevron-double-right"></i></a>
                                                </li>
                                                {{else}}
                                                <li class="page-item disabled">
                                                    <a href="{{path}}{{nextPage}}" class="page-link"><i
                                                            class="mdi mdi-chevron-right"></i></a>
                                                </li>
                                                <li class="page-item disabled">
                                                    <a href="{{path}}{{lastPage}}" class="page-link"><i
                                                            class="mdi mdi-chevron-double-right"></i></a>
                                                </li>
                                                {{/if}}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end row -->

                </div> <!-- container-fluid -->
            </div>
            <!-- End Page-content -->

            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6">
                            <script>document.write(new Date().getFullYear())</script> © Nazox.
                        </div>
                        <div class="col-sm-6">
                            <div class="text-sm-right d-none d-sm-block">
                                Crafted with <i class="mdi mdi-heart text-danger"></i> by Themesdesign
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        <!-- end main content-->
    </div>
    <!-- END layout-wrapper -->
</body>

{{!-- Submit form --}}
<form name="submit-form" method="POST">

{{!-- update delivery status modal --}}
<div class="modal fade" id="updateConfirm" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Update delivery Status</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
<<<<<<< HEAD
                    <select class="form-control">
=======
                    <select class="form-control" id="updateDeliveryStatus" name="updateDeliveryStatus"></select>
>>>>>>> 83f64cca31d21cbc7fcc694bc20a2169df39744b
                        <option value="Packed">Packed</option>
                        <option value="In transit">In transit</option>
                        <option value="Chargeback">Chargeback</option>
                        <option value="Success">Success</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button id="btn-update-order-status" type="button" class="btn btn-primary">Update</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
</form>

{{!-- delete order modal --}}
<div class="modal fade" id="deleteConfirm" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Confirm delete</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Do you want to delete this order ?
            </div>
            <div class="modal-footer">
                <button id="btn-delete-product" type="button" class="btn btn-danger">Delete</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script src="/js/custom_js/orders-list.js"></script>