<body>
    <!-- ...:::: Start Breadcrumb Section:::... -->
    <div class="breadcrumb-section">
        <div class="breadcrumb-wrapper">
            <div class="container">
                <div class="row">
                    <div
                        class="col-12 d-flex justify-content-between justify-content-md-between  align-items-center flex-md-row flex-column">
                        {{#if category}}
                        <h3 class="breadcrumb-title">Category: {{category}}</h3>
                        {{else}}
                        <h3 class="breadcrumb-title">All books</h3>
                        {{/if}}
                        <div class="breadcrumb-nav">
                            <nav aria-label="breadcrumb">
                                <ul>
                                    <li><a href="/">Home</a></li>
                                    <li class="active" aria-current="page">Shop</li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- ...:::: End Breadcrumb Section:::... -->

    <!-- ...:::: Start Shop Section:::... -->
    <div class="shop-section">
        <div class="container">
            <div class="row flex-column-reverse flex-lg-row">

                <div class="col-lg-3">
                    <div class="siderbar-section">
                        <form method="GET" action="/products-list/product-filtered">
                            <div class="sidebar-single-widget">
                                <h6 class="sidebar-title">FILTER BY PRICE</h6>
                                <div class="sidebar-content">
                                    <label for="amount">Price range: (thousand VNĐ)</label>
                                    <div class="d-flex mt-4">
                                        {{#if filterStatus}}
                                        <input type="number" class="form-control mr-1" width="50%" name="min_price"
                                            id="min_price" min="0" max="1000" value="{{filterStatus.min_price}}">
                                        <input type="number" class="form-control ml-1 mr-2" width="50%" name="max_price"
                                            id="max_price" min="0" max="1000" value="{{filterStatus.max_price}}">
                                        {{else}}
                                        <input type="number" class="form-control mr-1" width="50%" name="min_price"
                                            id="min_price" min="0" max="1000" value="0">
                                        <input type="number" class="form-control ml-1 mr-2" width="50%" name="max_price"
                                            id="max_price" min="0" max="1000" value="1000">
                                        {{/if}}
                                    </div>
                                </div>
                            </div>

                            <div class="sidebar-single-widget">
                                <h6 class="sidebar-title">AUTHORS</h6>
                                <div class="sidebar-content">
                                    <div class="filter-type-select">
                                        <select class="country_option nice-select wide" name="author" id="author">
                                            {{#select filterStatus.author}}
                                            <option value="all">All</option>
                                            {{#each authorsList}}
                                            <option value="{{author}}">{{author}}</option>
                                            {{/each}}
                                            {{/select}}
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="sidebar-single-widget">
                                <h6 class="sidebar-title">PUBLISHERS</h6>
                                <div class="sidebar-content">
                                    <div class="filter-type-select">
                                        <select class="country_option nice-select wide" name="publisher" id="publisher">
                                            {{#select filterStatus.publisher}}
                                            <option value="all">All</option>
                                            {{#each publishersList}}
                                            <option value="{{publisher}}">{{publisher}}</option>
                                            {{/each}}
                                            {{/select}}
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="sidebar-single-widget">
                                <h6 class="sidebar-title">LANGUAGES</h6>
                                <div class="sidebar-content">
                                    <div class="filter-type-select">
                                        <select class="country_option nice-select wide" name="language" id="language">
                                            {{#select filterStatus.language}}
                                            <option value="all">All</option>
                                            <option value="English">English</option>
                                            <option value="Vietnamese">Vietnamese</option>
                                            {{/select}}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex justify-content-center">
                                {{#if search}}
                                <input type="hidden" value="{{search}}" name="search">
                                {{/if}}
                                <button class="btn btn-danger" type="submit">Filter</button>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="col-lg-9">
                    <!-- Start Shop Product Sorting Section -->
                    <div class="shop-sort-section">
                        <div class="container">
                            <div class="row">
                                <!-- Start Sort Wrapper Box -->
                                <div
                                    class="sort-box d-flex justify-content-between align-items-md-center align-items-start flex-md-row flex-column">
                                    <!-- Start Sort tab Button -->
                                    <div class="sort-tablist">
                                        <ul class="tablist nav sort-tab-btn">
                                            <li><a class="nav-link active" data-toggle="tab" href="#layout-3-grid"><img
                                                        src="/images/icon/bkg_grid.png" alt=""></a></li>
                                            <li><a class="nav-link" data-toggle="tab" href="#layout-list"><img
                                                        src="/images/icon/bkg_list.png" alt=""></a></li>
                                        </ul>
                                    </div> <!-- End Sort tab Button -->

                                    <!-- Start Sort Select Option -->
                                    <div class="sort-select-list">
                                        <form method="GET" action="/products-list/product-sorted">
                                            {{#if search}}
                                            <input type="hidden" value="{{search}}" name="search">
                                            {{/if}}
                                            <fieldset>
                                                <select name="sort" id="sort" onchange="this.form.submit()">
                                                    {{#select sortStatus}}
                                                    <option value="title_a">Sort by book tile: A-Z</option>
                                                    <option value="title_z">Sort by book tile: Z-A</option>
                                                    <option value="best_sell">Sort by best-seller</option>
                                                    <option value="most_view">Sort by most viewed</option>
                                                    <option value="released_year">Sort by released year</option>
                                                    <option value="low_price">Sort by price: low to high</option>
                                                    <option value="high_price">Sort by price: high to low</option>
                                                    {{/select}}
                                                </select>
                                            </fieldset>
                                        </form>
                                    </div> <!-- End Sort Select Option -->

                                    <!-- Start Page Amount -->
                                    <div class="page-amount">
                                        <span>Showing {{firstIndex}}-{{lastIndex}} of {{numOfResults}} results</span>
                                    </div> <!-- End Page Amount -->

                                </div> <!-- Start Sort Wrapper Box -->
                            </div>
                        </div>
                    </div> <!-- End Section Content -->

                    <!-- Start Tab Wrapper -->
                    <div class="sort-product-tab-wrapper">
                        <div class="container">
                            <div class="row">
                                <div class="col-12">
                                    <div class="tab-content tab-animate-zoom">
                                        <!-- Start Grid View Product -->
                                        <div class="tab-pane active show sort-layout-single" id="layout-3-grid">
                                            <div class="row">
                                                {{#each books}}
                                                <div class="col-xl-4 col-sm-6 col-12">
                                                    <div class="product-default-single border-around">
                                                        <div class="product-img-warp">
                                                            <a href="/products-list/product-detail?ID={{book_id}}"
                                                                class="product-default-img-link">
                                                                <img src="{{[images.img_url]}}" alt=""
                                                                    class="product-default-img img-fluid">
                                                            </a>
                                                            <div class="product-action-icon-link">
                                                                <ul>
                                                                    <li><a href="#"><i
                                                                                class="icon-shopping-cart"></i></a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <div class="product-default-content">
                                                            <h6 class="product-default-link"><a
                                                                    href="/products-list/product-detail?ID={{book_id}}">{{title}}</a>
                                                            </h6>
                                                            <span class="product-default-price"><del
                                                                    class="product-default-price-off">${{origin_price}}</del>
                                                                ${{price}}</span>
                                                        </div>
                                                    </div> <!-- End Product Defautlt Single -->
                                                </div>
                                                {{/each}}
                                            </div>
                                        </div> <!-- End Grid View Product -->

                                        <!-- Start List View Product -->
                                        <div class="tab-pane sort-layout-single" id="layout-list">
                                            <div class="row">
                                                {{#each books}}
                                                <div class="col-12">
                                                    <!-- Start Product Defautlt Single -->
                                                    <div class="product-list-single border-around">
                                                        <a href="/products-list/product-detail?ID={{book_id}}"
                                                            class="product-list-img-link">
                                                            <img src="{{[images.img_url]}}" alt="" class="img-fluid">
                                                        </a>
                                                        <div class="product-list-content">
                                                            <h5 class="product-list-link"><a
                                                                    href="/products-list/product-detail?ID={{book_id}}">{{title}}</a>
                                                            </h5>
                                                            <span class="product-list-price"><del
                                                                    class="product-list-price-off">${{origin_price}}</del>
                                                                ${{price}}</span>
                                                            <p id="books-list-description">
                                                                {{description}}
                                                            </p>
                                                            <div class="product-action-icon-link-list">
                                                                <ul>
                                                                    <li>
                                                                        <a href="#" data-toggle="modal"
                                                                            data-target="#modalAddcart">
                                                                            <i class="icon-shopping-cart"></i>
                                                                        </a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div> <!-- End Product Defautlt Single -->
                                                </div>
                                                {{/each}}
                                            </div>
                                        </div> <!-- End List View Product -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> <!-- End Tab Wrapper -->

                    <!-- Start Pagination -->
                    <div class="page-pagination text-center">
                        <ul>
                            {{#if isPreValid}}
                            <li><a class="btn" role="button" href="{{path}}1">First</a></li>
                            <li><a class="btn" role="button" href="{{path}}{{prePage}}">Previous</a></li>
                            {{else}}
                            <li><a class="btn disabled" role="button" href="{{path}}1">First</a></li>
                            <li><a class="btn disabled" role="button" href="{{path}}{{prePage}}">Previous</a></li>
                            {{/if}}

                            <li><a class="btn active" role="button">{{page}}</a></li>

                            {{#if isNextValid}}
                            <li><a class="btn" role="button" href="{{path}}{{nextPage}}">Next</a></li>
                            <li><a class="btn" role="button" href="{{path}}{{lastPage}}">Last</a></li>
                            {{else}}
                            <li><a class="btn disabled" role="button" href="{{path}}{{nextPage}}">Next</a>
                            </li>
                            <li><a class="btn disabled" role="button" href="{{path}}{{lastPage}}">Last</a>
                            </li>
                            {{/if}}
                        </ul>
                    </div>
                    <!-- End Pagination -->
                </div> <!-- End Shop Product Sorting Section  -->
            </div>
        </div>
    </div> <!-- ...:::: End Shop Section:::... -->
</body>