<body>
    <!-- ...:::: Start Hero Area Section:::... -->
    <div class="hero-area">
        <div class="hero-area-wrapper hero-slider-dots fix-slider-dots">
            <!-- Start Hero Slider Single -->
            <div class="hero-area-single">
                <div class="hero-area-bg">
                    <img class="hero-img" src="/images/slider_images/home_1/aments_home_1_slider_1.jpg" alt="">
                </div>
                <div class="hero-content">
                    <div class="container">
                        <div class="row">
                            <div class="col-10 col-md-8 col-xl-6">
                                <h5>World Best Quality</h5>
                                <h2>Aments - Book for everyone</h2>
                                <p>We bring you knowledge with the best quality and affordable price</p>
                                <a href="/products-list" class="hero-button">Shopping Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- End Hero Slider Single -->
            <!-- Start Hero Slider Single -->
            <div class="hero-area-single">
                <div class="hero-area-bg">
                    <img class="hero-img" src="/images/slider_images/home_1/aments_home_1_slider_2.jpg" alt="">
                </div>
                <div class="hero-content">
                    <div class="container">
                        <div class="row">
                            <div class="col-10 col-md-8 col-xl-6">
                                <h5>World Best Quality</h5>
                                <h2>Up to 50% off</h2>
                                <p>On the occasion of new year, all books in the store are discounted from 10% to 50%
                                </p>
                                <a href="/products-list" class="hero-button">Shopping Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- End Hero Slider Single -->
        </div>
    </div> <!-- ...:::: End Hero Area Section:::... -->

    <!-- ...:::: Start Product Catagory Section:::... -->
    <div class="product-catagory-section section-top-gap-100">
        <!-- Start Section Content -->
        <div class="section-content-gap">
            <div class="container">
                <div class="row">
                    <div class="section-content">
                        <h3 class="section-title">Popular Categories</h3>
                    </div>
                </div>
            </div>
        </div> <!-- End Section Content -->

        <!-- Start Catagory Wrapper -->
        <div class="product-catagory-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                        <!-- Start Product Catagory Single -->
                        <a href="/products-list/category?category=English%20learning" class="product-catagory-single">
                            <div class="product-catagory-img">
                                <img src="/images/categories_images/aments_categories_01.jpg" alt="">
                            </div>
                            <div class="product-catagory-content">
                                <h5 class="product-catagory-title">English learning</h5>
                            </div>
                        </a> <!-- End Product Catagory Single -->
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                        <!-- Start Product Catagory Single -->
                        <a href="/products-list/category?category=Self-help" class="product-catagory-single">
                            <div class="product-catagory-img">
                                <img src="/images/categories_images/aments_categories_02.jpg" alt="">
                            </div>
                            <div class="product-catagory-content">
                                <h5 class="product-catagory-title">Self-help</h5>
                            </div>
                        </a> <!-- End Product Catagory Single -->
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                        <!-- Start Product Catagory Single -->
                        <a href="/products-list/category?category=Business" class="product-catagory-single">
                            <div class="product-catagory-img">
                                <img src="/images/categories_images/aments_categories_03.jpg" alt="">
                            </div>
                            <div class="product-catagory-content">
                                <h5 class="product-catagory-title">Business</h5>
                            </div>
                        </a> <!-- End Product Catagory Single -->
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                        <!-- Start Product Catagory Single -->
                        <a href="/products-list/category?category=Short%20stories" class="product-catagory-single">
                            <div class="product-catagory-img">
                                <img src="/images/categories_images/aments_categories_04.jpg" alt="">
                            </div>
                            <div class="product-catagory-content">
                                <h5 class="product-catagory-title">Short stories</h5>
                            </div>
                        </a> <!-- End Product Catagory Single -->
                    </div>
                </div>
            </div>
        </div> <!-- End Catagory Wrapper -->
    </div> <!-- ...:::: End Product Catagory Section:::... -->

    <!-- ...:::: Start Product Tab Section:::... -->
    <div class="product-tab-section section-top-gap-100">
        <!-- Start Section Content -->
        <div class="section-content-gap">
            <div class="container">
                <div class="row">
                    <div
                        class="section-content d-flex justify-content-between align-items-md-center align-items-start flex-md-row flex-column">
                        <h3 class="section-title">Hot deals</h3>
                        <ul class="tablist nav product-tab-btn">
                            <li><a class="nav-link active" data-toggle="tab" href="#SH">Self-help </a></li>
                            <li><a class="nav-link" data-toggle="tab" href="#LS">Long story</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div> <!-- End Section Content -->

        <!-- Start Tab Wrapper -->
        <div class="product-tab-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="tab-content tab-animate-zoom">
                            <div class="tab-pane show active" id="SH">
                                <div class="product-default-slider product-default-slider-4grids-1row">
                                    <!-- Start Product Defautlt Single -->
                                    {{#each books}}
                                    <div class="product-default-single border-around">
                                        <div class="product-img-warp">
                                            <a href="/products-list/product-detail?ID={{book_id}}"
                                                class="product-default-img-link">
                                                <img src="{{img_url}}" alt="" class="product-default-img img-fluid">
                                            </a>
                                        </div>
                                        <div class="product-default-content">
                                            <h6 class="product-default-link">
                                                <a href="/products-list/product-detail?ID={{book_id}}">{{title}}</a>
                                            </h6>
                                            <span class="product-default-price">
                                                <del class="product-default-price-off">{{origin_price}} đ</del>
                                                {{price}} đ
                                            </span>
                                        </div>
                                    </div>
                                    {{/each}}
                                    <!-- Start Product Defautlt Single -->
                                    <div class="product-default-single border-around">
                                        <div class="product-img-warp">
                                            <a href="/products-list/product-detail" class="product-default-img-link">
                                                <img src="/images/products_images/aments_products_image_4.jpg" alt=""
                                                    class="product-default-img img-fluid">
                                            </a>
                                            <div class="product-action-icon-link">
                                                <ul>
                                                    <li><a href="#" data-toggle="modal" data-target="#modalQuickview"><i
                                                                class="icon-eye"></i></a></li>
                                                    <li><a href="#" data-toggle="modal" data-target="#modalAddcart"><i
                                                                class="icon-shopping-cart"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="product-default-content">
                                            <h6 class="product-default-link"><a href="/products-list/product-detail">New
                                                    Balance Fresh Foam Kaymin Car Purts</a></h6>
                                            <span class="product-default-price"><del
                                                    class="product-default-price-off">$30.12</del> $25.12</span>
                                        </div>
                                    </div> <!-- End Product Defautlt Single -->
                                    <!-- Start Product Defautlt Single -->
                                    <div class="product-default-single border-around">
                                        <div class="product-img-warp">
                                            <a href="/products-list/product-detail" class="product-default-img-link">
                                                <img src="/images/products_images/aments_products_image_3.jpg" alt=""
                                                    class="product-default-img img-fluid">
                                            </a>
                                            <div class="product-action-icon-link">
                                                <ul>
                                                    <li><a href="#" data-toggle="modal" data-target="#modalQuickview"><i
                                                                class="icon-eye"></i></a></li>
                                                    <li><a href="#" data-toggle="modal" data-target="#modalAddcart"><i
                                                                class="icon-shopping-cart"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="product-default-content">
                                            <h6 class="product-default-link"><a href="/products-list/product-detail">New
                                                    Balance Fresh Foam Kaymin Car Purts</a></h6>
                                            <span class="product-default-price"><del
                                                    class="product-default-price-off">$30.12</del> $25.12</span>
                                        </div>
                                    </div> <!-- End Product Defautlt Single -->
                                    <!-- Start Product Defautlt Single -->
                                    <div class="product-default-single border-around">
                                        <div class="product-img-warp">
                                            <a href="products-list/product-detail" class="product-default-img-link">
                                                <img src="/images/products_images/aments_products_image_6.jpg" alt=""
                                                    class="product-default-img img-fluid">
                                            </a>
                                            <div class="product-action-icon-link">
                                                <ul>
                                                    <li><a href="#" data-toggle="modal" data-target="#modalQuickview"><i
                                                                class="icon-eye"></i></a></li>
                                                    <li><a href="#" data-toggle="modal" data-target="#modalAddcart"><i
                                                                class="icon-shopping-cart"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="product-default-content">
                                            <h6 class="product-default-link"><a href="products-list/product-detail">New
                                                    Balance Fresh Foam Kaymin Car Purts</a></h6>
                                            <span class="product-default-price"><del
                                                    class="product-default-price-off">$30.12</del> $25.12</span>
                                        </div>
                                    </div> <!-- End Product Defautlt Single -->
                                </div>
                            </div>
                            <div class="tab-pane" id="LS">
                                <div class="product-default-slider product-default-slider-4grids-1row">
                                    <!-- Start Product Defautlt Single -->
                                    <div class="product-default-single border-around">
                                        <div class="product-img-warp">
                                            <a href="products-list/product-detail" class="product-default-img-link">
                                                <img src="/images/products_images/aments_products_image_5.jpg" alt=""
                                                    class="product-default-img img-fluid">
                                            </a>
                                            <div class="product-action-icon-link">
                                                <ul>
                                                    <li><a href="#" data-toggle="modal" data-target="#modalQuickview"><i
                                                                class="icon-eye"></i></a></li>
                                                    <li><a href="#" data-toggle="modal" data-target="#modalAddcart"><i
                                                                class="icon-shopping-cart"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="product-default-content">
                                            <h6 class="product-default-link"><a href="products-list/product-detail">New
                                                    Balance Fresh Foam Kaymin Car Purts</a></h6>
                                            <span class="product-default-price"><del
                                                    class="product-default-price-off">$30.12</del> $25.12</span>
                                        </div>
                                    </div> <!-- End Product Defautlt Single -->
                                    <!-- Start Product Defautlt Single -->
                                    <div class="product-default-single border-around">
                                        <div class="product-img-warp">
                                            <a href="products-list/product-detail" class="product-default-img-link">
                                                <img src="/images/products_images/aments_products_image_6.jpg" alt=""
                                                    class="product-default-img img-fluid">
                                            </a>
                                            <div class="product-action-icon-link">
                                                <ul>
                                                    <li><a href="#" data-toggle="modal" data-target="#modalQuickview"><i
                                                                class="icon-eye"></i></a></li>
                                                    <li><a href="#" data-toggle="modal" data-target="#modalAddcart"><i
                                                                class="icon-shopping-cart"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="product-default-content">
                                            <h6 class="product-default-link"><a href="products-list/product-detail">New
                                                    Balance Fresh Foam Kaymin Car Purts</a></h6>
                                            <span class="product-default-price"><del
                                                    class="product-default-price-off">$30.12</del> $25.12</span>
                                        </div>
                                    </div> <!-- End Product Defautlt Single -->
                                    <!-- Start Product Defautlt Single -->
                                    <div class="product-default-single border-around">
                                        <div class="product-img-warp">
                                            <a href="products-list/product-detail" class="product-default-img-link">
                                                <img src="/images/products_images/aments_products_image_8.jpg" alt=""
                                                    class="product-default-img img-fluid">
                                            </a>
                                            <div class="product-action-icon-link">
                                                <ul>
                                                    <li><a href="#" data-toggle="modal" data-target="#modalQuickview"><i
                                                                class="icon-eye"></i></a></li>
                                                    <li><a href="#" data-toggle="modal" data-target="#modalAddcart"><i
                                                                class="icon-shopping-cart"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="product-default-content">
                                            <h6 class="product-default-link"><a href="products-list/product-detail">New
                                                    Balance Fresh Foam Kaymin Car Purts</a></h6>
                                            <span class="product-default-price"><del
                                                    class="product-default-price-off">$30.12</del> $25.12</span>
                                        </div>
                                    </div> <!-- End Product Defautlt Single -->
                                    <!-- Start Product Defautlt Single -->
                                    <div class="product-default-single border-around">
                                        <div class="product-img-warp">
                                            <a href="products-list/product-detail" class="product-default-img-link">
                                                <img src="/images/products_images/aments_products_image_7.jpg" alt=""
                                                    class="product-default-img img-fluid">
                                            </a>
                                            <div class="product-action-icon-link">
                                                <ul>
                                                    <li><a href="#" data-toggle="modal" data-target="#modalQuickview"><i
                                                                class="icon-eye"></i></a></li>
                                                    <li><a href="#" data-toggle="modal" data-target="#modalAddcart"><i
                                                                class="icon-shopping-cart"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="product-default-content">
                                            <h6 class="product-default-link"><a href="products-list/product-detail">New
                                                    Balance Fresh Foam Kaymin Car Purts</a></h6>
                                            <span class="product-default-price"><del
                                                    class="product-default-price-off">$30.12</del> $25.12</span>
                                        </div>
                                    </div> <!-- End Product Defautlt Single -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- End Catagory Wrapper -->

    </div> <!-- ...:::: Start Product Tab Section:::... -->

    <!-- ...:::: Start Product Catagory Section:::... -->
    <div class="banner-section section-top-gap-100">
        <!-- Start Banner Wrapper -->
        <div class="banner-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <!-- Start Banner Single -->
                        <div class="banner-single">
                            <a href="products-list/" class="banner-img-link">
                                <img class="banner-img banner-img-big" src="/images/banner_images/aments_big-banner.jpg"
                                    alt="" style="opacity: 0.5;">
                            </a>
                            <div class="banner-content">
                                <span class="banner-text-small">2021 Latest Collection</span>
                                <h2 class="banner-text-big"><span class="banner-text-big-highlight">-40%</span> Offer
                                    all books in store</h2>
                            </div>
                        </div> <!-- End Banner Single -->
                    </div>
                </div>
            </div>
        </div> <!-- End Banner Wrapper -->
    </div> <!-- ...:::: End Product Catagory Section:::... -->

    <!-- ...:::: Start Company Logo Section:::... -->
    <div class="company-logo-section section-top-gap-100">
        <!-- Start Company Logo Wrapper -->
        <div class="company-logo-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="company-logo-slider">
                            <!-- Start Company logo Single -->
                            <div class="company-logo-single">
                                <img src="/images/company_logo/company_logo_1.png" alt=""
                                    class="img-fluid company-logo-image">
                            </div> <!-- End Company logo Single -->
                            <!-- Start Company logo Single -->
                            <div class="company-logo-single">
                                <img src="/images/company_logo/company_logo_2.png" alt=""
                                    class="img-fluid company-logo-image">
                            </div> <!-- End Company logo Single -->
                            <!-- Start Company logo Single -->
                            <div class="company-logo-single">
                                <img src="/images/company_logo/company_logo_3.png" alt=""
                                    class="img-fluid company-logo-image">
                            </div> <!-- End Company logo Single -->
                            <!-- Start Company logo Single -->
                            <div class="company-logo-single">
                                <img src="/images/company_logo/company_logo_4.png" alt=""
                                    class="img-fluid company-logo-image">
                            </div> <!-- End Company logo Single -->
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- End Company Logo Wrapper -->
    </div> <!-- ...:::: End Company Logo Section:::... -->
</body>